build/
test/test
*.swp
*.o
*.pb.*
*.dylib

.settings/org.eclipse.cdt.core.prefs

.cproject

.project

.settings/language.settings.xml

configs/.DS_Store

helpers/.DS_Store

helpers/messagesinjector

include/.DS_Store

protobuf/.DS_Store

src/frontend

src/receptor

test/.DS_Store

.clang_complete

backends/registration_backend
